body {
	background: rgb(89, 90, 97);
}
input[type="text"] {
	background: transparent;
	color: white;
}

input[type="text"]:focus {
	background: transparent;
	color: white;
}
input::placeholder {
	font-weight: bold;
}
.mylist_input {
	width: 68%;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	border: 2px solid grey;
	border-radius: 0.2rem;
}

#addtodobtn {
	width: 100%;
	margin: 0 0.3rem 0 0;
}
.btn {
	margin: 0.5rem 0 0.2rem 0.2rem;
	width: 15%;
}

@media (max-width: 675px) {
	.btn {
		margin: 0.5rem 0 0.3rem 0.3rem;
		width: 4.5rem;
	}
	.form-control {
		width: 100%;
	}
	.mylist_input {
		width: 100%;
	}
	.text-light {
		width: 90%;
	}
}
